.main__container {
    margin-bottom: 100px;
}

.main__container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.main__container__title img {
    max-width: 90px;
}

.main__container__title h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.container__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 120px;
}

.container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    max-width: 350px;
    background-color: rgba(248, 246, 244, 1);
}

.container__card img {
    margin-bottom: 25px;
}

.container__card h3 {
    font-size: 21px;
    margin-bottom: 15px;
}

.container__card p {
    padding: 5px;
    line-height: 2;
    color: rgba(86, 78, 78, 1);
}

.container__content {
    display: flex;
    justify-content: center;
    gap: 100px;
}


.content__text {
    display: flex;
    flex-direction: column;
}

.content__text h3 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}

.content__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.content__item {
    max-width: 170px;
}

.content__item h4 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: rgba(156, 86, 66, 1);
    padding: 10px;
}

@media(max-width:1260px) {
    .main__container__title h2 {
        font-size: 50px;
    }

    .container__content {
        gap: 30px
    }

    .container__content img {
        max-width: 500px;
    }

    .content__text h3 {
        font-size: 40px;
        line-height: 1.3;
    }

    .content__item h4 {
        font-size: 45px;
    }

}


@media(max-width:922px) {
    .container__content {
        flex-direction: column;
        align-items: center;
    }

    .container__card {
        max-width: 280px;
    }

    .container__card p {
        line-height: 1.5;
    }

    .main__container__title h2 {
        font-size: 40px;
    }

    .main__container__title img {
        max-width: 70px;
    }
}


@media(max-width:510px) {
    .container__content img {
        max-width: 80vw;
    }

    .content__text h3 {
        font-size: 35px;
        line-height: 1;
        margin-bottom: 20px;
    }

    .content__items {
        gap: 20px;
    }

    .container__card {
        max-width: 255px;
    }
}
