.main__container {
    margin-bottom: 100px;
}

.main__container h1 {
    color: black;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.container__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.card {
    max-width: 600px;
}

@media(max-width:768px) {
    .main__container h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .container__cards {
        gap: 60px
    }
        .card {
            max-width: 400px;
        }

}

@media(max-width:428px) {
    .main__container h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .container__cards {
        gap: 50px
    }

    .card {
        max-width: 300px;
    }

}

