.main__container {
    margin-bottom: 100px;
}

.main__container__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 80px;
}

.main__container__title img {
    max-width: 90px;
}

.main__container__title h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 50px;
}

.main__container__title p {
    line-height: 1.5;
    font-size: 22px;
    max-width: 900px;
}

.main__section {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.item h3 {
    color: rgb(103, 145, 137);
    margin-bottom: 10px;
}

.item p {
    font-size: 20px;
}

.main__section>a>img {
    max-width: 34vw;
}


@media(max-width:950px) {
    .section__text {
        gap: 50px;
    }

    .main__container__title h2 {
        font-size: 50px;
    }

    .main__container__title p {
        font-size: 20px;
        line-height: 1.3;
    }
}

@media(max-width:809px) {
    .main__section {
        gap: 20px;
    }
}

@media(max-width:600px) {
        .main__section>a>img {
                display: none;
            }
    .section__text {
        gap: 13px;
    }

    .item h3 {
        font-size: 18px;
    }

    .item p {
        font-size: 18px;
    }

    .main__container__title h2 {
        font-size: 40px;
    }

    .main__container__title p {
        font-size: 18px;
        line-height: 1;
    }
}

