*,
*::before,
*::after {
    box-sizing: border-box;
    /* Размеры включают внутренние отступы и границы */
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    /* Формы наследуют шрифт от родителя */
}