footer {
    background-color: rgb(250, 229, 229);
    padding: 60px 20px 0;
}

footer p {
    text-align: center; 
    padding: 20px;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.footer__column {
    flex: 1 1 200px;
    min-width: 150px;
}

.footer__column h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: black;
}

.footer__column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__column ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #858585;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

.footer__column ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}


.footer__column ul li img {
    display: block;
    width: 20px;
    height: auto;
    flex-shrink: 0;
}


.footer__column ul li:hover {
    color: #ffffff;
}


@media (max-width: 1164px) {
    .footer__column:last-child {
        display: none;
    }
}


@media (max-width: 940px) {
    .footer__column {
        flex: 1 1 100px;
        min-width: 0;
    }
}

@media (max-width: 768px) {
    .footer__nav {
        justify-content: center;
        text-align: center;
        gap: 40px;
    }

    .footer__column {
        flex: 1 1 45%;
    }

    .footer__column ul li {
        justify-content: center;
    }

    .footer__column:first-child {
    display: none;
    }
}

@media (max-width: 480px) {
    .footer__nav {
        gap: 20px;
    }
    .footer__column {
        flex: 1 1 100%;
    }

    footer {
        padding: 40px 10px 0;
    }
}