.main__container {
    margin-bottom: 100px;
}

.main__container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.main__container__title img {
    max-width: 90px;
}

.main__container__title h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.container__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}


@media(max-width: 530px) {
    .main__container__title {
        margin-bottom: 50px;
    }
    .main__container__title h2 {
        font-size: 50px;
    }
    .container__items {
        gap: 37px;
    }
}