.header {
    background-image: url(../../img/backround.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 800px;
    aspect-ratio: 16 / 9;
    margin-bottom: 60px;
}


.header__title h1 {
    color: white;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 80px;
    font-weight: 400;
}

.header__title {
    max-width: 600px;
    margin: 5vw;
}


@media(max-width: 1024px) {
    .header {
        height: 600px;
    }

    .header__title h1 {
        font-size: 60px;
    }
}

@media(max-width: 768px) {
    .header {
        height: 400px;
    }

    .header__title h1 {
        font-size: 40px;
    }
}

@media(max-width: 425px) {
    .header {
        height: 289px;
    }

    .header__title h1 {
        font-size: 30px;
    }
}

@media(max-width: 375px) {
    .header {
        height: 210px;
    }

    .header__title h1 {
        font-size: 22px;
    }
}